body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-style: italic;
    font-weight: 800;
}

#corpo {
    display: flex;
    flex-direction: column;
    background-image: url(../images/fundo-projeto.png);
}


#cruz {
    display: flex;

}
#nav-esquerda {
    width: 700px; 
    height: 117px;
    align-items: center;
    width: 1440px;
    height: 2045px;
    background-image: url(../images/fundo-projeto.jpg);
}

#topo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #D4E9E2;
    width: 1440px;
    height:110px;
    background-color: #3f9eeb;
    padding: 1px;
    margin-bottom: 90px;
    transition: .5s;
}

.tamanho {
    background-color: #7ae8f7;
    color: rgb(2, 2, 3);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1px;
    margin-left: 2px;
}

#nav-esquerda {
    display: flex;
    flex-direction: row;
    width: 1440px;
    justify-content: space-around;
    margin-top: 82px;
    margin-bottom: 117px;

}

#card-negligencia {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
}

#cruz {
    width: 190px;
    height: 190px;
}

#nav-direita {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 400px;
}

button[type="button"] {
    background-color: #ffffff;
    color: rgb(38, 0, 252);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 180px;
    transition: 1s;
}

button:hover { 
    transform: scale(1.09);
    transition: 1s;
}

#area_de_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 1px solid #006ac0;
    width: 1000px;
    height: 1000px;
    background-color: #6ab2ec;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1px;
    margin-bottom: 32px;
}

.input-group {
    margin: 15px 0;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.esqueceu {
    display: block;
    margin: 10px 0;
    color: #090de0;
    text-decoration: none;
}

button[type="submit"] {
    background-color: #008cba;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}


footer {
    width: 1440px;
    height: 519px;
    padding: 20px;
    color: #000000;
    text-align: center;
    border: 1px solid #7dd8f3;
}


.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}   

.hospital-info {
    text-align: left;
}


.li-menu2 {
    margin-left: 400px;
    font-size: 25px;
    padding-right: 30px;  
}


.senaclogo {
    max-width: 480px;
    margin-right: 300px;

}


a { 
    font-family: Helvetica;
    color: #221452;
    text-decoration: none; /*Tirar linha abaixo de marcação do link*/
    font-weight: 800;
    letter-spacing: 2px;
}

a:hover { /*Hover pseudo classe que modifica propriedade html trocando propriedade e valores ao passar o mouse */
    font-family: Helvetica;
    color: #221452;
    text-decoration: none;
    font-weight: 800;
}