body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-fundo {
    background-image: url(../images/img-fundo-projeto.png);
}

#menu {
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 70px; 
    flex-direction: row; 
    justify-content: space-between; 
    font-size: 12px;
    background:linear-gradient(45deg,#47c2fc, #FFFFFF, #4CC4FC,#FFFFFF,#1997D1,#2c95ce);
    
}


#img-cruz{
    display: flex;
    flex-direction: row;
     
    align-items: center;
    width: 720px;
}

#cruz {
     

}
#nome-hospital {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#letras-login{
    display: flex;
    flex-direction: row;
     
    width: 720px;
    justify-content: space-around;
    align-items: center;
}

#letras-cor-pagina{
     
    width: 360px;
}


.menu-button {
    
}

  .menu-button button {
    padding: 10px 30px;
    border: none;
    background: linear-gradient(45deg, #1378b3, #3da1db, #84b5d1, #50a9dd, #098fe2);
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    border-bottom: 1px solid rgb(91, 48, 248);
  }
  



#video {
    display: flex;
    align-items: center;
    margin-top: 68px;
    margin-left: 144px;
}

#negligencia-risco {
    display: flex;
    width: 1440px;
    height: 431px;
     
    margin-top: 79px;
    justify-content: space-evenly;
    align-items: center;
}

#sinalizacao-proibido {
    display: flex;
    width: 1440px;
    height: 431px;
     
    margin-top: 104px;
    justify-content: space-evenly;
    align-items: center;
}

#rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1440px;
    height: 519px;
    background-image: url(../images/img-fundo-rodape.png);
    margin-top: 100px;
     
}

#logo-rodape{
     
    margin-left: 39px;
    margin-top: 95px;
}

#contato-rodape{
     
    margin-right: 200px;
    margin-top: 132px;

}

.li-contato{
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
}

.li-contato2{
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

