body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/img-fundo-projeto.png);
    width: 100%;
    height: 100%;
    background-size:  cover;
    background-position: center;
}


#menu {
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 70px; 
    flex-direction: row; 
    justify-content: space-between; 
    font-size: 12px;
    background:linear-gradient(45deg,#47c2fc, #FFFFFF, #4CC4FC,#FFFFFF,#1997D1,#2c95ce);
}

#img-cruz{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 720px;
}

#nome-hospital {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    list-style-type: none; 
}

a{
    text-decoration: none;
    color: #000000;
}

#letras-login{
    display: flex;
    flex-direction: row;
    width: 720px;
    justify-content: space-around;
    align-items: center;
}

#letras-cor-pagina{
    display: flex;
    margin-top: 20px;
}

#historia {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

#fonte-mais {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 4px 20px;
    background: linear-gradient(45deg, #1378b3, #3da1db, #84b5d1, #50a9dd, #098fe2);
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    border-bottom: 1px solid rgb(48, 235, 248);
} 

#fonte-menos {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 4px 20px;
    background: linear-gradient(45deg, #1378b3, #3da1db, #84b5d1, #50a9dd, #098fe2);
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    border-bottom: 1px solid rgb(48, 235, 248);
}

/* Modo escuro - inicio */
.dark-mode {
    width: 40px;
    height: 40px;
}

body.dark {
    background-image: url(../images/img-fundo-projeto-dark.png);
}

.dark #img-negligencia {
    content: url('../images/img-negligencia-dark.png');
}

.dark #img-risco {
    content: url('../images/img-contaminacao-dark.png');
}

.dark #img-sinalizacao {
    content: url('../images/img-sinalizacaoarea-dark.png');
}

.dark #img-proibido {
    content: url('../images/img-proibido-alimentos-dark.png');
}
.dark #menu{
    background:linear-gradient(45deg,#24607c, #838383, #245c75,#646464,#0c4966,#154661);
}

.dark button {
    background-color: #202020;
    color: #FFFFFF;
    border-color: #202020;
}

.dark button:hover {
    background-color: #ffffff;
    color: #000000;
    border-color: #202020;
}

.dark a {
    color: #FFFFFF;
}

.dark a:hover {
    color: #a7a7a7;
}

.dark li {
    color: #FFFFFF;
}


/* Modo escuro - fim */

.menu-button button {
    padding: 10px 30px;
    border: none;
    background: linear-gradient(45deg, #1378b3, #3da1db, #84b5d1, #50a9dd, #098fe2);
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    border-bottom: 1px solid rgb(48, 235, 248);
}

button:hover {
    padding: 8px 25px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    border-color: #1E3932;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #1E3932;
    transition: 400ms;
}

#main{
    display: flex;
    align-items: center;
}

#video {
    display: flex;
    margin-top: 68px;
    border-radius: 20px;
}

#negligencia-risco {
    display: flex;
    width: 1440px;
    height: 431px;
     
    margin-top: 79px;
    justify-content: space-evenly;
    align-items: center;
}

#sinalizacao-proibido {
    display: flex;
    width: 1440px;
    height: 431px;   
    margin-top: 104px;
    justify-content: space-evenly;
    align-items: center;
}

#rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1440px;
    height: 400px;
    background-image: url(../images/img-fundo-rodape.png);
    margin-top: 100px;
}

#logo-rodape{   
    margin-left: 39px;
    margin-top: 95px;
}

#contato-rodape{
    margin-right: 200px;
    margin-top: 132px;
    list-style-type: none;
}

.ler-button {
    width: 95px;
    height: 40px;
    border: none;
    background: linear-gradient(45deg, #1378b3, #3da1db, #84b5d1, #50a9dd, #098fe2);
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    border-bottom: 1px solid rgb(91, 48, 248);
    transition: 1s;
    font-size: 13px;
}


@media screen and (max-width: 768px) {
    #menu {
        display: flex;
        flex-direction: row;
        width: 720px;
        height: 70px; 
        flex-direction: row; 
        justify-content: space-between; 
        font-size: 12px;
        background:linear-gradient(45deg,#47c2fc, #FFFFFF, #4CC4FC,#FFFFFF,#1997D1,#2c95ce);
    }
    
    #main{
        display: flex;
        align-items: center;
        width: 720px;
    }

    #video {
        display: flex;
        margin-top: 68px;
        width: 720px;
        height: 371px;
    }

    #negligencia-risco {
        display: flex;
        flex-direction: column;
        width: 720px;
        height: 431px;
        margin-top: 79px;
        justify-content: space-evenly;
        align-items: center;
    }

    #sinalizacao-proibido {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 720px;
        height: 431px;
        margin-top: 500px;
    }


    #rodape {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 720px;
        height: 400px;
        background-image: url(../images/img-fundo-rodape.png);
        margin-top: 500px;
    }

}

