body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-fundo {
    background-image: url(../images/img-fundo-projeto.png);
}

#menu {
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 70px;
    background-image: url(../images/fundo-menu.png);  
    flex-direction: row; 
    justify-content: space-between; 
    border: 1px solid #D4E9E2;
    font-size: 12px;
}


#img-cruz{
    display: flex;
    flex-direction: row;
    border: 1px solid red;
}

#cruz {
    display: flex;
    border: 1px solid red;

}
#nome-hospital {
    display: flex;

}

#video {
    display: flex;
    align-items: center;
    margin-top: 68px;
    margin-left: 144px;
}

#negligencia-risco {
    display: flex;
    width: 1440px;
    height: 431px;
    border: 1px solid red;
    margin-top: 79px;
    justify-content: space-evenly;
    align-items: center;
}

#sinalizacao-proibido {
    display: flex;
    width: 1440px;
    height: 431px;
    border: 1px solid red;
    margin-top: 104px;
    justify-content: space-evenly;
    align-items: center;
}

#rodape {
    display: flex;
    width: 1440px;
    height: 519px;
    background-image: url(../images/img-fundo-rodape.png);
    margin-top: 100px;
}

