body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-style: italic;
    font-weight: 800;
}

#corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 2045px;
    background-image: url(../images/fundo-projeto.jpg);
}

#topo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #D4E9E2;
    width: 1440px;
    height:110px;
    background-color: #3f9eeb;
    padding: 1px;
    margin-bottom: 90px;
    transition: .5s;
}

.tamanho {
    background-color: #7ae8f7;
    color: rgb(2, 2, 3);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1px;
    margin-left: 2px;
}

#nav-esquerda {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
    height: 100px;
}

#cruz {
    width: 190px;
    height: 190px;
}

#nav-direita {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 400px;
}

button[type="button"] {
    background-color: #ffffff;
    color: rgb(38, 0, 252);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 180px;
    transition: 1s;
}

button:hover { 
    transform: scale(1.09);
    transition: 1s;
}

#area_de_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid #006ac0;
    width: 1000px;
    height: 1000px;
    background-color: #6ab2ec;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1px;
    margin-bottom: 32px;
}

.input-group {
    margin: 15px 0;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.esqueceu {
    display: block;
    margin: 10px 0;
    color: #090de0;
    text-decoration: none;
}

button[type="submit"] {
    background-color: #008cba;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}


footer {
    width: 1440px;
    height: 519px;
    padding: 20px;
    color: #000000;
    text-align: center;
    border: 1px solid #7dd8f3;
}


.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}   

.hospital-info {
    text-align: left;
}

.senaclogo {
    max-width: 380px;
    margin-right: 300px;
}


.trilho{
    width: 100px;
    height: 60px;
    background-color: #4d4d4d;
    border-radius: 150px;
    position: relative;
    cursor: pointer;
    margin-left: 8px;
}

.trilho .indicador {
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    transform: scale(.9s);
    position: absolute;
    left: 0;
    transition: .5s;
}

.trilho.dark{
    background-color: #4d4d4d;
}

.trilho.dark .indicador {
    background-color: white;
}

.dark #topo {
    background-color: #02345e;
    transition: .5s;
}

.dark h3 {
    color: #6ce5f5;
}

.dark h1 {
    color: #6ce5f5;
}

.dark p {
    color: #6ce5f5;
}

.dark #area_de_login {
    background-color: #02345e;
}

.dark .esqueceu {
    color: #5053fa;
}

.dark footer {
    background-color: #02345e;
} 

.dark .senaclogo {
    filter: brightness(1.3);
}
