body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/fundo-projeto.jpg);
    background-size: cover;
    background-position: center;
    transition: 1s;
}

h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 1.4em;
    margin: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
    margin: 0px;
}

h1 {
    font-size: 2.4em ;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 1.4em;
    margin: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

#corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 100%;
}

#topo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px ;
    width: 1440px;
    height:70px;
    background:linear-gradient(45deg,#47c2fc, #FFFFFF, #4CC4FC,#FFFFFF,#1997D1,#2c95ce);
    padding: 1px;
    margin-bottom: 90px;
    transition: .5s;
}

#botoestamanho {
    display: flex;
    margin-right: 110px;
}
.tamanho {
    padding: 10px 30px;
    border: none;
    background: linear-gradient(45deg, #1378b3, #3da1db, #84b5d1, #50a9dd, #098fe2);
    color: #000000;
    font-weight: bold;
    border-radius: 20px;
    border-bottom: 1px solid rgb(91, 48, 248);
    margin: 1px;
    margin-left: 2px;
    transition: 1s;
}

#nav-esquerda {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 600px;
}

#cruz {
    width: 60px;
    height: 60px;
    margin-left: 0px;
    margin-right: 0px;
}

#nav-direita {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 400px;
}

#botaodark {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: transparent;
    margin-right: 2px;
}

.dark-mode {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#login {
    padding: 10px 30px;
    border: none;
    background: linear-gradient(45deg, #1378b3, #3da1db, #84b5d1, #50a9dd, #098fe2);
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    border-bottom: 1px solid rgb(91, 48, 248);
    margin-left: 90px;
    margin-right: 10px;
    transition: 1s;
}

button:hover { 
    transform: scale(1.09);
    transition: 1s;
}

section{
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 600px;
    margin-bottom: 32px;
}

#area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    width: 300px;
    height: 170px;
    border-radius: 15px;
    transition: .5s;
}

#area_de_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px;
    width: 600px;
    height: 600px;
    background-color: #4cc4fc4b;
    padding: 1px;
    margin-bottom: 32px;
    transition: .5s;
}

.checkbox {
    border-radius: 30px;
}

#area_de_login_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px;
    width: 600px;
    height: 600px;
    background-color: #4cc4fc4b;
    padding: 1px;
    margin-bottom: 32px;
    transition: .5s;
}

#cruz2_a #cruz2 {
    width: 200px;
}

.ler-button {
    padding: 10px 30px;
    border: none;
    background: linear-gradient(45deg, #1378b3, #3da1db, #84b5d1, #50a9dd, #098fe2);
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    border-bottom: 1px solid rgb(91, 48, 248);
    transition: 1s;
}

#altofalante {
    width: 50px;
}

button:hover { 
    transform: scale(1.09);
    transition: 1s;
}


.input-group {
    margin: 15px 0;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 389px;
    height: 30px;
    padding: 10px;
    border: 1px solid #69C5F9;
    border-radius: 5px;
    border-radius: 30px;
    background-color: #69C5F9;
}

.esqueceu {
    display: block;
    margin: 10px 0;
    color: #000000;
}

button[type="submit"] {
    background-color: #008cba;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 1s;
    color: #000000;
    font-weight: 700;
    font-size: 15px;
}


footer {
    width: 1440px;
    height: 400px;
    padding: 20px;
    background-image: url(../images/img-fundo-rodape.png);
    text-align: center;
    border: 1px;
    transition: .5s;
}


.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}   

.hospital-info {
    text-align: left;
}

.senaclogo {
    max-width: 380px;
    margin-right: 300px;
}

  
@media screen and (max-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    h3 {
        font-style: normal;
        font-weight: 800;
        font-size: 1.0em;
    }
    
    h1 {
        font-size: 1.5em ;
    }
    
    p {
        font-size: 1.0em;
    }

    
    
    #corpo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 768px;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    #topo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 1px ;
        width: 768px;
        height:70px;
        background-color: #3f9eeb;
        padding: 1px;
        margin-bottom: 90px;
        transition: .5s;
    }

    

    #nav-esquerda {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 400px;
    }
    
    #cruz {
        width: 60px;
        height: 60px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    #nav-direita {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 300px;
    }

    #botoestamanho {
        display: flex;
        margin-right: 8px;
        margin-left: 5px;
    }

    .tamanho {
        padding: 10px 30px;
        border: none;
        background: linear-gradient(45deg, #1378b3, #3da1db, #84b5d1, #50a9dd, #098fe2);
        color: #fff;
        font-weight: bold;
        border-radius: 20px;
        border-bottom: 1px solid rgb(91, 48, 248);
        margin: 1px;
        transition: 1s;
    }

    button[type="button"] {
        padding: 10px 30px;
        border: none;
        background: linear-gradient(45deg, #1378b3, #3da1db, #84b5d1, #50a9dd, #098fe2);
        color: #fff;
        font-weight: bold;
        border-radius: 20px;
        border-bottom: 1px solid rgb(91, 48, 248);
        margin-left: 90px;
        margin-right: 10px;
        transition: 1s;
    }
    
    button:hover { 
        transform: scale(1.09);
        transition: 1s;
    }

    #area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px;
        width: 250px;
        height: 140px;
        border-radius: 15px;
    }

    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 560px;
        height: 1000px;
        margin-bottom: 32px;
    }
    
    #area_de_login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        border: 1px;
        width: 450px;
        height: 470px;
        background-color: #4cc4fc4b;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 1px;
    }
    
    .checkbox {
        border-radius: 30px;
    }

    .input-group input {
        width: 300px;
        height: 20px;
        padding: 10px;
        border: 1px solid #69C5F9;
        border-radius: 5px;
        border-radius: 30px;
        background-color: #69C5F9;
    }
    
    
    #area_de_login_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border-radius: 15px;
        border: 1px;
        width: 450px;
        height: 470px;
        background-color: #4cc4fc4b;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 1px;
    }

    #cruz2 {
        width: 150px;
    }
    


    footer {
        width: 768px;
        height: 100%;
        padding: 20px;
        color: #000000;
        text-align: center;
        border: 1px;
    }
    
    
    .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        align-items: center;
    }   

    .hospital-info {
        text-align: right;
    }
    
    .senaclogo {
        max-width: 380px;
        margin-right: 100px;
    }
    
}




@media screen and (max-width: 390px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    h3 {
        font-style: normal;
        font-weight: 800;
        font-size: 1.0em;
    }
    
    h1 {
        font-size: 1.5em ;
    }
    
    p {
        font-size: 1.5em;
    }

    
    
    #corpo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 360px;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    #topo {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border: 1px ;
        width: 360px;
        height:140px;
        background-color: #3f9eeb;
        padding: 1px;
        margin-bottom: 90px;
        transition: .5s;
    }

    #nav-esquerda {
        display: flex;
        flex-direction: row;
        width: 360px;
    }
    
    #cruz {
        width: 50px;
        height: 50px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    #nav-direita {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 360px;
    }

    #botaodark {
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: transparent;
        margin-right: 20px;
    }
    
    .dark-mode {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    
    #login {
        padding: 10px 30px;
        border: none;
        background: linear-gradient(45deg, #1378b3, #3da1db, #84b5d1, #50a9dd, #098fe2);
        color: #fff;
        font-weight: bold;
        border-radius: 20px;
        border-bottom: 1px solid rgb(91, 48, 248);
        margin-left: 0px;
        margin-right: 19px;
        transition: 1s;
    }

    #botoestamanho {
        display: flex;
        margin-right: 8px;
        margin-left: 5px;
    }

    .tamanho {
        padding: 10px 30px;
        border: none;
        background: linear-gradient(45deg, #1378b3, #3da1db, #84b5d1, #50a9dd, #098fe2);
        color: #fff;
        font-weight: bold;
        border-radius: 20px;
        border-bottom: 1px solid rgb(91, 48, 248);
        margin: 1px;
        transition: 1s;
    }

    button[type="button"] {
        padding: 10px 30px;
        border: none;
        background: linear-gradient(45deg, #1378b3, #3da1db, #84b5d1, #50a9dd, #098fe2);
        color: #fff;
        font-weight: bold;
        border-radius: 20px;
        border-bottom: 1px solid rgb(91, 48, 248);
        margin-left: 90px;
        margin-right: 10px;
        transition: 1s;
    }
    
    button:hover { 
        transform: scale(1.09);
        transition: 1s;
    }

    #area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px;
        width: 250px;
        height: 140px;
        border-radius: 15px;
    }

    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 360px;
        height: 1000px;
        margin-bottom: 32px;
    }
    
    #area_de_login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        border: 1px;
        width: 350px;
        height: 500px;
        background-color: #4cc4fc4b;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 1px;
    }
    
    .checkbox {
        border-radius: 30px;
    }

    .input-group input {
        width: 300px;
        height: 20px;
        padding: 10px;
        border: 1px solid #69C5F9;
        border-radius: 5px;
        border-radius: 30px;
        background-color: #69C5F9;
    }
    
    
    #area_de_login_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border-radius: 15px;
        border: 1px;
        width: 350px;
        height: 500px;
        background-color: #4cc4fc4b;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 1px;
    }

    #cruz2 {
        width: 150px;
    }
    


    footer {
        width: 360px;
        height: 100%;
        padding: 20px;
        color: #000000;
        text-align: center;
        border: 1px;
    }
    
    
    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
    }   

    .hospital-info {
        text-align: center;
    }
    
    .senaclogo {
        max-width: 360px;
        margin-left: 90px;
    }
    
}

@media screen and (max-width: 430px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    h3 {
        font-style: normal;
        font-weight: 800;
        font-size: 0.8em;
    }
    
    h1 {
        font-size: 1.9em ;
    }
    
    p {
        font-size: 1.3em;
    }

    
    
    #corpo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 428px;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    #topo {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border: 1px ;
        width: 100%;
        height:140px;
        background-color: #3f9eeb;
        padding: 1px;
        margin-bottom: 90px;
        transition: .5s;
    }

    #nav-esquerda {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    #cruz {
        width: 50px;
        height: 50px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    #nav-direita {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #botaodark {
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: transparent;
        margin-right: 20px;
    }
    
    .dark-mode {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    
    #login {
        padding: 10px 30px;
        border: none;
        background: linear-gradient(45deg, #1378b3, #3da1db, #84b5d1, #50a9dd, #098fe2);
        color: #fff;
        font-weight: bold;
        border-radius: 20px;
        border-bottom: 1px solid rgb(91, 48, 248);
        margin-left: 0px;
        margin-right: 19px;
        transition: 1s;
    }

    #botoestamanho {
        display: flex;
        margin-right: 8px;
        margin-left: 5px;
    }

    .tamanho {
        padding: 10px 30px;
        border: none;
        background: linear-gradient(45deg, #1378b3, #3da1db, #84b5d1, #50a9dd, #098fe2);
        color: #fff;
        font-weight: bold;
        border-radius: 20px;
        border-bottom: 1px solid rgb(91, 48, 248);
        margin: 1px;
        transition: 1s;
    }

    button[type="button"] {
        padding: 10px 30px;
        border: none;
        background: linear-gradient(45deg, #1378b3, #3da1db, #84b5d1, #50a9dd, #098fe2);
        color: #fff;
        font-weight: bold;
        border-radius: 20px;
        border-bottom: 1px solid rgb(91, 48, 248);
        margin-left: 90px;
        margin-right: 10px;
        transition: 1s;
    }
    
    button:hover { 
        transform: scale(1.09);
        transition: 1s;
    }

    #area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px;
        width: 250px;
        height: 240px;
        border-radius: 15px;
    }

    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 1000px;
        margin-bottom: 32px;
    }
    
    #area_de_login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        border: 1px;
        width: 400px;
        height: 500px;
        background-color: #4cc4fc4b;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 1px;
    }
    
    .checkbox {
        border-radius: 30px;
    }

    .input-group input {
        width: 300px;
        height: 20px;
        padding: 10px;
        border: 1px solid #69C5F9;
        border-radius: 5px;
        border-radius: 30px;
        background-color: #69C5F9;
    }
    
    
    #area_de_login_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border-radius: 15px;
        border: 1px;
        width: 400px;
        height: 500px;
        background-color: #4cc4fc4b;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 1px;
    }

    #cruz2 {
        width: 150px;
    }
    


    footer {
        width: 100%;
        height: 100%;
        padding: 20px;
        color: #000000;
        text-align: center;
        border: 1px;
    }
    
    
    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
    }   

    .hospital-info {
        text-align: center;
    }
    
    .senaclogo {
        max-width: 360px;
        margin-left: 90px;
    }
    
}