.dark .dark-mode {
    filter: brightness(1.9);
}

body.dark {
    background-image: url(../images/img-fundo-projeto-dark.png);
    transition: 1s;
}

.dark #topo {
    background:linear-gradient(45deg,#24607c, #838383, #245c75,#646464,#0c4966,#154661);
    transition: .5s;
}

.dark a {
    color: #ffffff
}

.dark h3 {
    color: #ffffff;
}

.dark h1 {
    color: #ffffff;
}

.dark p {
    color: #ffffff;
}

.dark #area {
    background-color: #02345e;
}

.dark #area_de_login {
    background-color: #02345e;
}

.dark #area_de_login_2 {
    background-color: #02345e;
}

.dark .esqueceu {
    color: #ffffff;
}

.dark footer {
    background-image: url(../images/img-fundo-rodape.png);
    transition: .5s;
} 

.dark .senaclogo {
    filter: brightness(1.3);
}