.trilho.dark .indicador {
    background-color: white;
}

.dark #corpo {
    background-image: linear-gradient(rgb(15, 29, 28, 0.8), rgb(15, 29, 28, 0.8)), url(../images/fundo-projeto.jpg);
}

.dark #topo {
    background: #02345e;
    transition: .5s;
}

.dark h3 {
    color: #bee1e6;
}

.dark h1 {
    color: #bee1e6;
}

.dark p {
    color: #bee1e6;
}

.dark #area {
    background-color: #02345e;
}

.dark #area_de_login {
    background-color: #02345e;
}

.dark #area_de_login_2 {
    background-color: #02345e;
}

.dark .esqueceu {
    color: #bee1e6;
}

.dark footer {
    background: #02345e;
    transition: .5s;
} 

.dark .senaclogo {
    filter: brightness(1.3);
}